.homePage {
    position: relative;
    overflow: scroll;
}

.content-block {
    display: grid;
    grid-template-rows: 100vh;
    grid-auto-rows: auto;
    position: absolute;
    bottom: -395vh;
    box-shadow: 0 -15px 15px -15px #333;
    border-radius: 15px;
}

.content-block  > div {
    height: 100vh;
    width: minmax(20px, 100vw);
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(38, 52, 129, 0.98) , rgba(34, 47, 119, 0.95), rgba(38, 52, 129, 0.98));
    display: grid;
}

.content-block > :nth-child(1) {
    border-radius: 15px 15px 0 0;
}
