.nav {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    background: transparent;
    z-index: 1;
    display: grid;
    grid-template-rows: auto auto;
}

.nav img {
    height: calc(6vh + 6vw);
    width: auto;
    margin-top: 12px;
    margin-left: 12px;
}

.navLogo {
    transition: transform .8s ease-in-out; 
    grid-row: 1 / 2;
}

.navLogo:hover {
    transform: rotate(180deg);
}

.navLogo:hover ~ .navList {
    visibility: visible;
    opacity: 1;
}

.navList {
    grid-row: 2 / 3;
    display: grid;
    margin-left: 20px;
    visibility: hidden;
    opacity: 0;
    grid-gap: 2%;
    padding: 5%;
    transition: visibility 0s, opacity 3s linear;
}

.navListItem {
    display: grid;
    padding: 5%;
    border: 1px black solid;
    height: 6vh;
    justify-self: stretch;
    justify-content: stretch;
    align-self: stretch;
    align-content: center;
    text-align: center;

}

.navList:hover {
    visibility: visible;
    opacity: 1;
}

.navListItem:hover {
    border: 1px solid white;
    color: rgb(35, 79, 199)
}

.spinner {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@media screen and (max-width: 500px) {
    .nav {
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;
        justify-content: center;
        background: transparent;
        z-index: 1;
        display: grid;
        grid-template-rows: auto auto;
    }

    .nav img {
        height: 12vh;
        width: auto;
        margin-top: 0px;
        margin-left: 0px;
        justify-self: center;
        align-self: center;
    }

    .navList {
        grid-row: 2 / 3;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 0px;
        visibility: hidden;
        opacity: 0;
        grid-gap: 2%;
        padding: 5%;
        transition: visibility 0s, opacity 3s linear;
    }

    .navListItem {
        display: grid;
        padding: 5%;
        border: 1px black solid;
        height: 6vh;
        justify-self: stretch;
        justify-content: stretch;
        align-self: stretch;
        align-content: center;
        text-align: center;
    
    }
}
