.landingScreen {
    background-image: url('../imgStore/portfolioPic.png');
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: sticky;
    top: 0;
}


h1 {
    position: absolute;
    top: calc(8vh + 8vw);
    left: calc(10vh + 15vw);
    font-size: calc(3vh + 3vw);
    text-align: center;
    color: rgba(33, 38, 53, 0.657);
    font-family: 'Dancing Script', cursive;
}


@media screen and (max-width: 500px) {
    .landingScreen {
        background-image: url('../imgStore/portfolioPic.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 61% 80%;
    }
    
    
    h1 {
        position: absolute;
        top: 21%;
        font-size: calc(3vh + 3vw);
        text-align: center;
        color: rgba(33, 38, 53, 0.657);
        font-family: 'Dancing Script', cursive;
    }
}
