.nav {
    position: absolute;
    top: 0px;
    right: 0px;
    justify-content: center;
    background: transparent;
    padding-top: 5em;
    z-index: 1;
    display: grid;
    padding: 1%;
}

.nav img {
    height: 4.5vh;
    width: auto;
}
